body {
    color: aliceblue;
    background-color: black;
}
.jumbotron {
    margin-top: 1%;
    background-color: rgb(73,155,234);
    border: 1px solid antiquewhite;
    margin-bottom: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bttn {
    width: 99%;
    height: 57px;
    font-size: 26px;
    background-color: rgb(73,155,234);
    border: 1px solid antiquewhite;
    border-radius: 5px;
    margin-bottom: 3px;
}
.bttn:hover{
    background-color: antiquewhite;
    color: limegreen;
}
.results {
    border: 1px solid antiquewhite;
    border-radius: 5px;
    height: 74.2%;
    background-color: rgb(73,155,234);
}
.converters {
    padding: 0;
}
.calculation{
    text-align: center;
    margin: 20px 15px;
}
