.jumbotron {
    margin-top: 1%;
    background-color: rgb(73,155,234);
    color: aliceblue;
    border: 1px solid antiquewhite;
}
.btn-group {
    width: 100%;
}
.btn {
    width: 16%;
    margin-right: 3px;
    border-radius: 5px !important;
}
body {
    background-color: rgb(73,155,234);
}
.results {
    border: 1px solid antiquewhite;
    border-radius: 5px;
}