.jumbotron {
    margin-top: 1%;
    background-color: rgb(73,155,234);
    color: aliceblue;
    border: 1px solid antiquewhite;
    margin-bottom: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bttn {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10%;
    font-size: 26px;
    background-color: rgb(73,155,234);
    color: aliceblue;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    margin-bottom: 3px;
}
.bttn:hover{
    background-color: antiquewhite;
    color: limegreen;
}
body {
    background-color: rgb(73,155,234);
}
.results {
    border: 1px solid antiquewhite;
    border-radius: 5px;
    height: 72.5%;
    margin-left: 5px;
    width: 58%;
}
.converters {
    padding: 0;
}
.calculation{
    text-align: center;
    margin: 20px 15px;
}